<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('../template/head', { title: title  } ); %>
    </head>
    <body>

        <header>
            <%- include ('../template/header', { username: username , configHeader:configHeader, currpage : currpage  }); %>
        </header>

        <main>
            <div class="container" >
                <div class="jumbotron">
                    <h1> GMS Grocery Store Management System</h1>
                    <p class="indent"><br>  GMS is a Grocery Store Management System which has its own database to store information of products for updating in real time.</p>
                    <ul>
                     <li>As an owner, you can add new products’ information (name, price, description, ...)</li>
                      <li>As an owner, you can view products’ information (name, price, description, ...)</li>
                        <li>As an owner, you can add customer’s order into the list of customer’s orders to manage the number of sold products.</li>
                          <li>As an owner, you can view the list of products.</li>
                            <li>As an owner, you can view the list of customer’s order.</li>
                              <li>As an owner, you can view the list of categories.</li>
                                <li>As an owner, you can view the list of locations.</li>
                                  <li>As an owner, you can add new locations.</li>
                                    <li>As an owner, you can add new categories.</li>
                    </ul>
                  </div>
            </div>
        </main>
          
        <script>
        var slideIndex = 1;
            showSlides(slideIndex);
            
            // Next/previous controls
            function plusSlides(n) {
              showSlides(slideIndex += n);
            }
            
            // Thumbnail image controls
            function currentSlide(n) {
              showSlides(slideIndex = n);
            }
            
            function showSlides(n) {
              var i;
              var slides = document.getElementsByClassName("mySlides");
              var dots = document.getElementsByClassName("dot");
              if (n > slides.length) {slideIndex = 1}
              if (n < 1) {slideIndex = slides.length}
              for (i = 0; i < slides.length; i++) {
                  slides[i].style.display = "none";
              }
              slideIndex++;
              for (i = 0; i < dots.length; i++) {
                  dots[i].className = dots[i].className.replace(" active", "");
              }
              slides[slideIndex-1].style.display = "block";
              dots[slideIndex-1].className += " active";
              setTimeout(showSlides, 5000);
            }
            </script>
        <%- include ('../template/footer'); %>
        

    </body>

</html> 