<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../template/head', { title: title } ); %>
</head>

<body>

    <header>
        <%- include ('../template/header', { username: null, configHeader:configHeader, currpage : currpage }); %>
    </header>

    <main>
        <div class="container">


            <H3> Create a NEW PRODUCT: </H3>

            <form action=".../product/create" enctype="multipart/form-data" method="POST">

                <input type="hidden" name="_id" value="">
                <!-- id -->
                <div class="form-group">
                    <label for="id">Id</label>
                    <input type="text" class="form-control" id="id" name="id" aria-describedby="idHelp">
                    <small id="idHelp" class="form-text text-muted"> </small>
                    <div class="text-danger"></div>
                </div>

                <!-- name -->
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp">
                    <small id="nameHelp" class="form-text text-muted"></small>
                </div>

                <!-- price -->
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" class="form-control" id="price" name="price" aria-describedby="priceHelp">
                    <small id="priceHelp" class="form-text text-muted"> Price </small>
                </div>

                <!-- description -->
                <div class="form-group">
                    <label for="description">Description </label>
                    <input type="text" class="form-control" id="description" name="description"
                        aria-describedby="descriptionHelp">
                    <small id="descriptionHelp" class="form-text text-muted">Description </small>
                </div>
                <!-- category -->
                <div class="form-group">
                    <label for="category">Category </label>
                    <input type="text" class="form-control" id="category" name="category"
                        aria-describedby="categoryHelp">
                    <small id="categoryHelp" class="form-text text-muted"> </small>
                </div>
                <!-- location -->
                <div class="form-group">
                    <label for="location">Location </label>
                    <input type="text" class="form-control" id="location" name="location"
                        aria-describedby="locationHelp">
                    <small id="locationHelp" class="form-text text-muted">Location</small>
                </div>

                <!-- img -->
                <div class="form-group">
                    <label for="img">Image</label>
                    <input type="file" accept="image/*" class="form-control" id="img" name="img"
                        aria-describedby="imgHelp" multiple>
                    <small id="imgHelp" class="form-text text-muted"> img </small>
                </div>


                <button type="submit" class="btn btn-primary">Create ONE product !</button>
            </form>
        </div>
        <BR>
        <BR>
    </main>
    <notify>
        <div class="container">
            <%=Notify%>
        </div>
    </notify>


    <%- include ('../template/footer'); %>


</body>

</html>