    <!-- Footer -->
    <footer class="navbar-fixed-bottom">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <a> © 2021 Copyright: Pavolanshop </a>
        </div>
        <!-- Copyright -->
    
    </footer>
    <!-- Footer -->